@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script&display=swap');

/*
h1, h2, h3, body {
   font-family: 'Dancing Script', cursive;
}
*/

body {
   font-family: 'Abel', sans-serif;
}


.title-slide{
   background-image: url(images/pngfind.com-png-photo-54917.png);
   background-size: 20%;
   background-position: 50% 90%;
   
}


#titleimage {
   content:url(images/01_stream_channels_sauk_river_16_9.webp);
   background-position: absolute;
   background-size: cover;
   top: 0;
   left: 0;
   opacity: 0.3;
}

.remark-slide-content {
    background-color: #272822;
    color: #d6d6d6;
    text-shadow: 0 0 20px #333;
}

h1, h2, h3 {
  color: #f3f3f3;
}

.white, {
  color: #fff;
}

.imgdesc{
   font-size: 50%; 
   margin-top: 0px; 
}

.highlight{
   color: rgb(249, 38, 114);
}


.quote{
   position: absolute; 
   width: 50%; 
   left: 25%;
   background-color: grey; 
   border-radius: 20px; 
   border-color: black;
   border-style: solid;  
   padding: 25px
}

.quoteauthor{
   text-align: right; 
   font-style: italic
}
